@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #fff;
  --color-text: #34495e;
  --color-primary: #2f9e44;
  --color-primary-hover: #2b8a3e;
}

.dark {
  --color-background: #090d0d;
  --color-text: #fff;
  --color-primary: #2f9e44;
  --color-primary-hover: #2b8a3e;
}
